<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="5.0.0" targetFramework="net461" />
  <package id="Dragablz" version="0.0.3.223" targetFramework="net461" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.4.5" targetFramework="net461" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc" version="1.50.5147" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc-gdi" version="1.50.5147" targetFramework="net461" />
  <package id="PDFsharp-MigraDoc-wpf" version="1.50.5147" targetFramework="net461" />
  <package id="PropertyTools" version="3.1.0" targetFramework="net461" />
  <package id="PropertyTools.Wpf" version="3.1.0" targetFramework="net461" />
</packages>